body {
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
    background-color: #95424E;
    flex-wrap: wrap;
}

.homepage {
    text-align: center;
    font-size: 1.5em;
    margin-top: 64px;
    margin-bottom: 64px;
}

 img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
 
.welcome {
  display: flex;
  justify-content: center;
}

h2 {
    text-align: center;
    padding: 24px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content:  center;
    text-align: center;
    margin-bottom: 24px;
    
}

 a {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.loginpic {
    width: 1000px;
    height: 563px;
    margin-top: 48px;
    margin-left: auto;
    margin-right: auto;
}

.sellpic {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
}
